.why-choose-us-container{
    display: flex;
    justify-content: center;
}

.why-choose-us-head{
    text-align: center;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 0px;
}


.why-choose-us-label-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(224, 224, 253);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.icon{
    font-size: 48px;
    color: rgb(55, 55, 174);
}

.why-choose-us-heading{
    color: rgb(55, 55, 174);
}

.why-choose-us-description{
    color: rgb(55, 55, 174);
}

@media screen and (max-width:520px){
    .why-choose-us-container{
        flex-direction: column;
    }
}

.why-choose-us-lower-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.why-choose-us-features{
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 10px;
    border-top: 4px solid rgb(63, 63, 173);
    width: 20%;
    height: 80px;
}

.why-choose-us-features h1{
    font-size: 20px;
}

.why-choose-us-features p{
    font-size: 12px;
}

@media screen and (max-width:520px){
    .why-choose-us-features{
        width: 35%;
    }
}

